[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
rpi-ws281x = "*"
pandas = "*"
matplotlib = "*"
adafruit-blinka = "*"
adafruit-circuitpython-bme680 = "*"

[requires]
python_version = "3.*"
